<template>
    <tr>
        <td colspan="7" class="empty">
            List is empty                
        </td>
    </tr>
</template>

<script scoped>

export default {

}

</script>

<style lang="scss" scoped>

td {
    height: 48px;
}
.empty {
    text-align: center;
    color:#777;
}

</style>