<template>
    <div>
        <table class="custom-table">
            <thead>
                <tr>
                    <th width="140">Price</th>
                    <th width="180">Posted date</th>
                    <th width="180">Ship date</th>
                    <th width="180">Locations</th>
                    <th scope="col">Shipper</th>
                    <th width="180">Source</th>
                    <th width="70"> </th>
                </tr>
            </thead>
            <Row :action-buttons="actionButtons" :highlight="true" :blur="true" />
            <Row :action-buttons="actionButtons" />
            <!--
                <tbody>
                    <td colspan="7" class="empty-row">
                        List is empty
                    </td>
                </tbody>                
            -->
        </table>
        <hr class="hr" noshade color="#E4E7ED" />
        <el-pagination layout="prev, pager, next" background :total="1000" class="pages" @current-change="setPage"> </el-pagination>    
    </div>
</template>

<script scoped>

export default {
    props: {
        actionButtons: {
            type: Array,
            required: true
        },
    },    
    methods: {
        setPage(page) {

        }
    }
}

</script>

<style lang="scss" scoped>

</style>