<template>
    <div>
        <el-menu :default-active="$route.path" class="navigation" mode="horizontal" @select="handleSelect">
            <div class="pull-left logotype-container">
                <img src="https://ui-avatars.com/api/?name=Car Parser" class="logotype" />
            </div>
            <el-menu-item index="/"><i class="el-icon-document-copy"></i>Lots</el-menu-item>
            <el-menu-item index="/filters"><i class="el-icon-s-operation"></i>Filters</el-menu-item>
            <div class="pull-right right-button">
                <el-button type="danger" icon="el-icon-switch-button" size="mini" @click="logout" plain>Log out</el-button>
            </div>
            <div class="pull-right right-button">
                <el-button icon="el-icon-setting" size="mini" @click="showSettings" plain>Settings</el-button>
            </div>        
        </el-menu>

        <el-dialog title="Filter" :visible.sync="dialog" width="30%">
            <el-form ref="form" :model="controls" @submit.native.prevent="onSaveSettings" label-position="left" label-width="150px">
                <div class="setting-element">
                    <p>Disable sound when new lots are coming</p>
                    <el-switch v-model="controls.disableSound"></el-switch>
                </div>       
                <div class="setting-element">
                    <p>Show all lots if no filters</p>
                    <el-switch v-model="controls.showAllLots"></el-switch>
                </div>                             
                <el-button type="primary" icon="el-icon-check" native-type="submit" :loading="loading">Save</el-button>
            </el-form> 
        </el-dialog>          
    </div>
</template>

<script scoped>

export default {
    data() {
        return {
            dialog: false,
            loading: false,
            controls: {
                disableSound: false,
                showAllLots: true,
            },
        }
    },
    methods: {
        handleSelect(route) {
            this.$router.push(route);
        },
        logout() {
            this.$router.push('/logout');
        },
        showSettings() {
            this.controls = {
                disableSound: false,
                showAllLots: true,
            }
            
            this.dialog = true;
        },
        onSaveSettings() {
            this.dialog = false;
            this.$message.success('Settings has been saved');
        }
    }
}

</script>

<style lang="scss" scoped>
.navigation {
    box-shadow: 0px 0px 8px 0px rgb(34 60 80 / 13%);
    border-radius: 10px;
    margin-bottom: 20px
}
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
.logotype-container {
    height: 60px;
    line-height: 90px;
    padding-left:20px;
    padding-right:20px;
}
.logotype {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.right-button {
    padding-right: 20px;
    line-height: 60px;
}

.setting-element {
    margin-bottom: 20px;
}

.setting-element p {
    margin-bottom: 10px;
}

</style>