<template>
    <tbody>
        <tr :class="highlightClass()">
            <td class="price">
                $ 5000
                <el-tooltip effect="dark" content="New lot" placement="left">
                    <i v-if="highlight" class="el-icon-news bolt blink"></i>
                </el-tooltip>
            </td>
            <td>
                <div class="truncate"><i class="el-icon-date"></i>01/11/23</div>
                <div class="truncate"><i class="el-icon-alarm-clock"></i>08:53:09 AM</div>
                <div class="truncate"><i class="el-icon-truck"></i>1 vehicle</div>
            </td>
            <td>
                <div class="truncate"><i class="el-icon-date"></i>10/01/23</div>
                <div class="truncate" :class="statusColorClass()"><i class="el-icon-tickets"></i>LISTED</div>            
                <div class="truncate inoperable"><i class="el-icon-close"></i>Inoperable</div>            
            </td>
            <td>
                <div class="truncate"><i class="el-icon-location"></i>FL, Starked</div>
                <div class="truncate"><i class="el-icon-right"></i>GA, Gainesville</div>
                <div class="truncate link" @click="openMap()"><i class="el-icon-map-location"></i>Show map</div>            
            </td>
            <td>
                <div>Montway Auto Transport</div>
                <div><i class="el-icon-phone"></i>(224) 220-9323</div>
                <div><i class="el-icon-folder"></i>Order: 1699892</div>                
            </td>
            <td>
                <div class="truncate"><i class="el-icon-coin"></i> Ship cars</div>
                <div class="truncate"><i class="el-icon-key"></i>2899462</div>
                <div class="truncate link" @click="openHistory()"><i class="el-icon-data-line"></i>Open history</div>               
            </td>
            <td class="action-buttons">
                <el-tooltip v-if="hasButton('apply')" effect="dark" content="Get to work" placement="right">
                    <div class="action-button"><el-button type="success" icon="el-icon-check" size="mini" plain></el-button></div>
                </el-tooltip>
                <el-tooltip v-if="hasButton('restore')" effect="dark" content="Move to all" placement="right">
                    <div class="action-button"><el-button type="warning" icon="el-icon-refresh-left" size="mini" plain></el-button></div>
                </el-tooltip>                
                <el-tooltip v-if="hasButton('trash')" effect="dark" content="Move to trash bin" placement="right">
                    <div class="action-button"><el-button type="danger" icon="el-icon-delete" size="mini" plain></el-button></div>
                </el-tooltip>
                <el-tooltip v-if="hasButton('delete')" effect="dark" content="Delete permanently" placement="right">
                    <div class="action-button" @click="onDelete"><el-button type="danger" icon="el-icon-close" size="mini" plain></el-button></div>
                </el-tooltip>
            </td>
        </tr>
        <tr :class="highlightClass(highlight)">
            <td colspan="7" class="description">
                <div class="message">
                    <div><i class="el-icon-info"></i></div>
                    <div>Carrier must call ahead to confirm pickup availability.</div>
                </div>
                <div class="cargo" :class="highlightCargoClass()">
                    <table class="vehicle-table">
                        <tbody>
                            <tr>
                                <th>Vehicle</th>
                                <th width="70">Weight</th>
                                <th width="170">Dimensions</th>
                                <th width="30"></th>
                            </tr>
                            <tr>
                                <td><div class="truncate" style="max-width: 200px;">2015 Mercedes-benz E class</div></td>
                                <td>4211</td>
                                <td> 192.1″ L X 81.5″ W X 57.9″ H</td>
                                <td style="text-align: right;">
                                    <el-tooltip effect="dark" class="vehicle-notes" content="Message here" placement="right">
                                        <i class="el-icon-question"></i>
                                    </el-tooltip>                                
                                </td>
                            </tr>      
                            <tr>
                                <td><div class="truncate" style="max-width: 200px;">2015 Mercedes-benz E class</div></td>
                                <td>4211</td>
                                <td> 192.1″ L X 81.5″ W X 57.9″ H</td>
                                <td style="text-align: right;"></td>
                            </tr>                                                        
                        </tbody>
                    </table>  
                </div>   
                <el-dialog title="Route" :visible.sync="map" width="40%">
                    <div class="map" ref="map"></div>
                </el-dialog>   
                <el-dialog title="History" :visible.sync="history" width="70%">
                    <table class="history-table">
                        <tbody>
                            <tr>
                                <th width="50%">Old value</th>
                                <th width="50%">New value</th>
                            </tr> 
                            <tr>
                                <td class="deleted">4211</td>
                                <td class="applied">192.1″ L X 81.5″ W X 57.9″ H</td>
                            </tr>                                                        
                        </tbody>
                    </table>                     
                </el-dialog>                                           
            </td>
        </tr>
    </tbody>
</template>

<script scoped>

export default {
    props: {
        actionButtons: {
            type: Array,
            required: true
        },
        highlight: {
            type: Boolean,
        },
    },
    data() {
        return {
            map: false,
            history: false,
            mapRendered: false,
        }
    },
    methods: {
        loadMap() {
            if(!this.mapRendered) {
                this.$nextTick(()=>{
                    const self = this;
                    const directionsService = new google.maps.DirectionsService();
                    const directionsRenderer = new google.maps.DirectionsRenderer({ preserveViewport: false });
                    const map = new google.maps.Map(this.$refs.map, {
                        center: {lat: 39.50, lng: -98.35},
                        zoom: 4,
                        gestureHandling: 'greedy',
                        mapTypeControl: false,
                        streetViewControl: false,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });                    

                    directionsRenderer.setMap(map);                

                    directionsService.route({
                        origin: 'FL, Brooksville', 
                        destination: 'FL, Sanford',
                        travelMode: google.maps.DirectionsTravelMode.DRIVING
                    }, function(response, status) {
                        if (status == google.maps.DirectionsStatus.OK) {
                            map.setCenter({lat: response.routes[0].legs[0].start_location.lat(), lng: response.routes[0].legs[0].start_location.lng()});
                            map.setZoom(6);
                            directionsRenderer.setDirections(response);

                            const centerControlDiv = document.createElement("div");
                            centerControlDiv.append(
                                self.createCenterControl('Pick up', function() {
                                    map.setCenter({lat: response.routes[0].legs[0].start_location.lat(), lng: response.routes[0].legs[0].start_location.lng()});
                                    map.setZoom(11);
                                }), 
                                self.createCenterControl('Drop off', function() {
                                    map.setCenter({lat: response.routes[0].legs[0].end_location.lat(), lng: response.routes[0].legs[0].end_location.lng()});
                                    map.setZoom(11);
                                }), 
                                self.createCenterControl('Show route', function() {
                                    directionsRenderer.setDirections(response);
                                })
                            );    

                            map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);       
                        }
                        else {
                            self.$message.error('Google could not build the route');
                        }
                    });   

                    this.mapRendered = true;
                });                
            }
        },
        createCenterControl(label, callback) {
            const controlButton = document.createElement("button");

            controlButton.style.backgroundColor = "#fff";
            controlButton.style.border = "2px solid #fff";
            controlButton.style.borderRadius = "3px";
            controlButton.style.boxShadow = "0 2px 6px rgba(0,0,0,.3)";
            controlButton.style.color = "rgb(25,25,25)";
            controlButton.style.cursor = "pointer";
            controlButton.style.fontSize = "16px";
            controlButton.style.lineHeight = "38px";
            controlButton.style.margin = "8px 0 22px 10px";
            controlButton.style.padding = "0 5px";
            controlButton.style.textAlign = "center";
            controlButton.textContent = label;
            controlButton.type = "button";
            controlButton.addEventListener("click", function() {
                callback();
            });

            return controlButton;
        },
        openMap() {
            this.map = true;
            this.loadMap()
        },    
        openHistory() {
            this.history = true;
        },  
        hasButton(button) {
           return this.actionButtons.find(type => type === button) 
        },
        statusColorClass() {
            const status = 'LISTED';

            if(status === 'LISTED') {
                return 'status-listed'
            }
            
            if(status === 'DELETED') {
                return 'status-deleted'
            }
            
            if(status === 'ARCHIVED') {
                return 'status-archived'
            }

            return '';
        },
        highlightClass() {
            if(this.highlight) {
                return 'highlight-row';
            }

            return '';
        },
        highlightCargoClass() {
            if(this.highlight) {
                return 'cargo-highlight';
            }

            return '';
        },
        onDelete() {
            this.$confirm('This will permanently delete the lot. Continue?', 'Warning', {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: 'Delete completed'
                });
            })
        }                 
    }
}

</script>

<style lang="scss" scoped>

.description {
    border: none;
    padding-bottom: 0;
}

.inoperable {
    color: #F56C6C;
}

.message {
    flex-direction: row;
    display: flex;
}

.message div {
    color: #67C23A;
    flex-direction: column;
    line-height: 20px;
}

.vehicle-table {
    width: 100%;
}

.vehicle-table th {
    border-top: none;
    color: black!important;
}

.vehicle-table th, .vehicle-table td {
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.vehicle-table th {
    color: #000;
    text-align: left;
    font-weight: normal;
    font-size: 13px;
}

.vehicle-table td {
    border-top: 1px solid #ffffff;
    font-size: 13px;
}

.vehicle-table td div {
    margin-bottom: 0;
}

.cargo {
    background-color: #f5f5f5;
    border-radius: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
    position: relative;
}

.cargo-highlight {
    background-color: #fff!important;
    box-shadow: 0px 0px 8px 0px rgb(34 60 80 / 13%);
}

.map {
    width: '100%';
    height: 400px;
}

.history-table {
    width: 100%;
}

.history-table th {
    text-align: left;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;    
}

.history-table td {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.deleted {
    color: #F56C6C;
    text-decoration: line-through;
}

.applied, .status-listed {
    color: #67C23A;
}

.status-deleted, .status-archived {
    color: #F56C6C;
}

.vehicle-notes {
    color: #F56C6C;
    cursor: help;
}

.highlight-row {
    background-color: #effff1;
}

.bolt {
    position: absolute;
    top: 20px;
    left: -35px;
    color: #db5e16;
    cursor: help;
}

</style>