* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #__nuxt, #__layout {
    height:100%!important;
    width: 100%!important;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

.h4, h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

.el-tabs__header {
    margin-bottom: 0px;
}

.el-button--mini {
    padding: 7px 10px;
}

.el-button--mini i {
    font-size: 14px;
}

.el-tabs__content {
    overflow: inherit;
}

.link {
    color: #409EFF!important;
    cursor: pointer;
    border-bottom: 1px dashed #409EFF;
    display: inline;
    padding-bottom: 2px;
}

.rotate {
    animation: rotation 5s infinite linear;
}
  
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.blink {
    animation: blink 1s step-start 0s infinite;
}

.el-button i {
    font-size: 14px;
    margin-right: 5px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px
}

.custom-table th {
    text-align: left;
    height: 48px;
    padding-left: 10px;
    font-size: 11pt;
}

.pages {
    margin-bottom: 20px;
}

.hr {
    margin-bottom: 20px;
    border: none;
    height: 1px;
}

.custom-table td.empty-row {
    height: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 11pt;
    color: #aaaaaa;
    padding-left: 10px;
    border-top: 1px solid #E4E7ED;
}

.custom-table td {
    padding-top: 15px;
    vertical-align: top;
    padding-left: 10px;
    border-top: 1px solid #E4E7ED;
}
.custom-table .price {
    font-weight: bold;
    font-size: 15pt;
    position: relative;
}
.custom-table .action-button {
    text-align: right;
    margin-bottom: 10px;
}

.custom-table td div {
    font-size: 10pt;
    margin-bottom: 10px;
    color: #777;
}

.custom-table td div i {
    margin-right: 8px;
    font-size: 11pt;
}

.custom-table .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;   
    max-width: 150px; 
}

.custom-table td.action-buttons {
    padding-right: 10px;
}

.custom-table td.action-buttons i {
    margin-right: 0!important;
}