<template>
    <div class="container">
        <nuxt />
    </div>
</template>

<script>
export default {
    head() {
        return {
            script: [
                { src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDhPJcFY4UgNkjtXOsRT5KcgzKRSzqSuIU&libraries=places' }
            ]
        };
    },
}
</script>

<style lang="scss" scoped>
    .container {
        width: 79%;
        padding-top: 20px;
        margin:0 auto;
    }

</style>