<template>
    <el-row class="logout-row">
        <el-col align="center">
            <h1>Error 404</h1>
            <el-alert title="Requested URL not found" class="message" type="info" :closable="false" />
            <nuxt-link to="/" class="link">Go to home</nuxt-link>
        </el-col>
    </el-row>
</template>
  
<script>

export default {

}

</script>
  
  
<style lang="scss" scoped>
.logout-row {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.message {
    margin-top: 30px;
    margin-bottom: 30px;
}

</style>