<template>
  <div>
    <Navigation />
    <div class="container">
      <el-row :gutter="20">
        <el-col :span="16">
          <h4>Filters</h4>
        </el-col>
        <el-col :span="8" class="align-right last-update">
          <span class="link" @click="openCreateDialog"><i class="el-icon-circle-plus-outline"></i> Add new filter</span>
        </el-col>
      </el-row>       
    </div> 

    <div class="table-container">
      <table class="custom-table">
          <thead>
              <tr>
                  <th width="140">Minimal price</th>
                  <th width="170">Options</th>
                  <th>Name</th>
                  <th width="70"> </th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td class="price">
                ≥ $ 5000
              </td>
              <td>
                <div class="truncate"><i class="el-icon-location"></i>IA, IL, IN, KS, MI, MN, MO, ND, NE, OH, SD, WI</div>
                <div class="truncate"><i class="el-icon-right"></i>IA, IL, IN, KS, MI, MN, MO, ND, NE, OH, SD, WI</div>
                <div class="truncate"><i class="el-icon-truck"></i>OPEN</div>                
              </td>
              <td>
                <div>My test filter</div>
                <div><i class="el-icon-date"></i>01/11/23</div>
              </td>
              <td class="action-buttons">
                <el-tooltip effect="dark" content="Edit" placement="right">
                  <div class="action-button" @click="openEditDialog"><el-button type="success" icon="el-icon-edit" size="mini" plain></el-button></div>
                </el-tooltip>
                <el-tooltip effect="dark" content="Delete" placement="right">
                  <div class="action-button" @click="onDelete"><el-button type="danger" icon="el-icon-close" size="mini" plain></el-button></div>
                </el-tooltip>
              </td>
            </tr>
          </tbody>
          <!--
          <tbody>
              <td colspan="4" class="empty-row">
                  List is empty
              </td>
          </tbody>              
          -->
      </table>   
    </div> 

    <el-dialog title="Filter" :visible.sync="dialog" width="30%">
      <el-form ref="form" :model="controls" :rules="rules" @submit.native.prevent="onSave" label-position="left" label-width="140px">
        <el-form-item label="Name of the filter" size="medium" required prop="name">
          <el-input v-model="controls.name" />
        </el-form-item>  
        <el-form-item label="Pick up location" size="medium" required prop="pickup">
          <el-select v-model="controls.pickup" placeholder="Select">
            <el-option-group v-for="group in options" :key="group.label" :label="group.label">
              <el-option v-for="item in group.options" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-option-group>
          </el-select>
        </el-form-item>  
        <el-form-item label="Drop off location" size="medium" required prop="dropoff">
          <el-select v-model="controls.dropoff" placeholder="Select">
            <el-option-group v-for="group in options" :key="group.label" :label="group.label">
              <el-option v-for="item in group.options" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-option-group>
          </el-select>
        </el-form-item> 
        <el-form-item label="Minimnal price" size="medium" required prop="minimal">
          <el-input-number v-model="controls.minimal" :min="0" />
        </el-form-item>       
        <el-form-item label="Disable filter" prop="disabled">
          <el-switch v-model="controls.disabled"></el-switch>
        </el-form-item>                   
        <el-form-item>
          <el-button type="primary" icon="el-icon-check" native-type="submit" :loading="loading">Save</el-button>
        </el-form-item>    
      </el-form> 
    </el-dialog>      
  </div>
</template>

<script>

export default {
  name: 'FiltersPage',
  layout: 'default',
  middleware: ['is-authorized'],
  data() {
    return {
      dialog: false,
      loading: false,
      controls: {
        id: null,
        name: '',
        pickup: '',
        dropoff: '',
        minimal: 100,
        disabled: false,
      },
      rules: {
        name: [
          { required: true, message: 'Name can not be empty', trigger: ['change', 'blur'] },
        ],
        pickup: [
          { required: true, message: 'Pick up location required', trigger: ['change', 'blur'] },
        ],    
        dropoff: [
          { required: true, message: 'Drop off location required', trigger: ['change', 'blur'] },
        ],  
        minimal: [
          { required: true, message: 'Minimal price can not be empty', trigger: ['change', 'blur'] },
          { type: 'number', min: 1, message: 'Minimal price should be greather than 0', trigger: ['change', 'blur'] },
        ],                   
      },
      options: [{
        label: 'Popular cities',
        options: [{
          value: 'Shanghai',
          label: 'Shanghai'
        }, {
          value: 'Beijing',
          label: 'Beijing'
        }]
      }, 
      {
        label: 'City name',
        options: [{
          value: 'Chengdu',
          label: 'Chengdu'
        }, {
          value: 'Shenzhen',
          label: 'Shenzhen'
        }, {
          value: 'Guangzhou',
          label: 'Guangzhou'
        }, {
          value: 'Dalian',
          label: 'Dalian'
        }]
      }]              
    }
  },
  methods: {
    openCreateDialog() {
      this.controls = {
        id: null,
        name: '',
        pickup: '',
        dropoff: '',
        minimal: 100,
        disabled: false,
      };

      this.dialog = true;
    },
    openEditDialog() {
      this.controls = {
        id: 1,
        name: 'My test filter',
        pickup: 'Shanghai',
        dropoff: 'Dalian',
        minimal: 1000,
        disabled: false,
      };
      
      this.dialog = true;
    },    
    onSave() {
      this.$refs['form'].validate(async (valid) => {
        if (valid) {
          this.loading = true;
          
          const formData = {
            name: this.controls.name,
            pickup: this.controls.pickup,
            dropoff: this.controls.dropoff,
            minimal: this.controls.minimal,
            disabled: this.controls.disabled,
          }
          
          try {
            // await this.$store.dispatch('authorization/login', formData);
            // this.$router.push('/');
            this.dialog = false;
            // Reload list
            this.$message.success('Filter has been saved');
          }
          catch(e) {
            this.$message.error(this.$store.getters['error']);
          }                  

          this.loading = false;
        }
      });      
    },
    onDelete() {
        this.$confirm('This will permanently delete the filter. Continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
        }).then(() => {
            this.$message({
                type: 'success',
                message: 'Delete completed'
            });
        })
    }         
  }
}

</script>

<style lang="scss" scoped>
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .table-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .align-right {
      text-align: right;
  }

</style>
