<template>
  <div>
    <Navigation />
    <div class="container">
      <el-row :gutter="20">
        <el-col :span="16">
          <h4>Lots</h4>
        </el-col>
        <el-col :span="8" class="align-right last-update" v-if="activeTab === '0'">
          <el-tooltip  effect="dark" content="Last update time" placement="bottom">
            <span><i class="el-icon-time rotate"></i> at 07:52:42 AM</span>
          </el-tooltip>
        </el-col>
      </el-row>   
      <el-tabs v-model="activeTab" type="card" class="tabs">
        <el-tab-pane>
          <span slot="label"><i class="el-icon-coin"></i> All</span>
          <Lots :action-buttons="['apply', 'trash']" />
        </el-tab-pane>
        <el-tab-pane>
          <span slot="label"><i class="el-icon-monitor"></i> In work</span>
          <Lots :action-buttons="['restore', 'trash']" />
        </el-tab-pane>
        <el-tab-pane>
          <span slot="label"><i class="el-icon-delete"></i> Trash bin</span>
          <Lots :action-buttons="['apply', 'delete']" />
        </el-tab-pane>
      </el-tabs>       
    </div> 
  </div>
</template>

<script>

export default {
  name: 'IndexPage',
  layout: 'default',
  middleware: ['is-authorized'],
  data() {
    return {
      activeTab: '0'
    }
  },
  methods: {

  }
}

</script>

<style lang="scss" scoped>
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .align-right {
      text-align: right;
  }
  .last-update {
    font-weight: 600;
    font-size: 11pt;
    cursor: help;
  }
  .tabs {
    margin-top:20px;
  }
  .tabs i {
    margin-right: 3px;
  }

</style>
