<template>
  <el-row class="login-row">
    <el-col>
      <el-card shadow="hover" class="card">
        <div slot="header" class="card-header">
          <span>Please, log in</span>
        </div>        
        <el-form ref="form" :model="controls" :rules="rules" @submit.native.prevent="onLogin" label-position="left" label-width="100px">
          <el-form-item label="Username" size="medium" required prop="username">
            <el-input v-model="controls.username" />
          </el-form-item>
          <el-form-item label="Password" size="medium" required prop="password">
            <el-input v-model="controls.password" type="password" />
          </el-form-item>    
          <el-form-item>
            <el-button type="primary" icon="el-icon-unlock" native-type="submit" :loading="loading">Log in</el-button>
          </el-form-item>    
        </el-form>  
      </el-card>
    </el-col>
  </el-row>
</template>

<script>

export default {
  name: 'LoginPage',
  layout: 'empty',
  middleware: ['is-not-authorized'],
  head() {
    return { 
      title: `Log in - ${process.env.appName}` 
    }
  },    
  data() {
    return {
      loading: false,
      controls: {
          username: '',
          password: '',
      }, 
      rules: {
        username: [
          { required: true, message: 'Username can not be empty', trigger: ['change', 'blur'] },
        ],
        password: [
          { required: true, message: 'Password can not be empty', trigger: ['change', 'blur'] },
          { min: 6, message: 'Password must not be less than 6 characters', trigger: 'blur' }
        ]
      }             
    }
  },
  methods: {
    onLogin() {
      this.$refs['form'].validate(async (valid) => {
        if (valid) {
          this.loading = true;
          
          const formData = {
            username: this.controls.username,
            password: this.controls.password,
          }
          
          try {
            await this.$store.dispatch('authorization/login', formData);
            this.$router.push('/');
          }
          catch(e) {
            this.$message.error(this.$store.getters['error']);
          }                  

          this.loading = false;
        }
      });      
    }
  }
}

</script>

<style lang="scss" scoped>
  .card {
    width: 400px;
    margin: 0 auto;
  }

  .card-header {
    font-weight: 600;
  }

  .login-row {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
