<template>
    <el-row class="logout-row">
        <el-col>
            <el-alert title="Wait, log out..." type="info" :closable="false" />
        </el-col>
    </el-row>
</template>
  
<script>

export default {
    name: 'LogoutPage',
    layout: 'empty',
    middleware: ['is-authorized'],
    beforeCreate() {
        this.$store.dispatch('authorization/logout');
        this.$router.push('/');
    }
}

</script>
  
  
<style lang="scss" scoped>

.logout-row {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

</style>